body{
    width: 100%;
    margin: 0%;
    font-family: Arial,sans-serif;
}
header{
    position: fixed;
}
.global-header-container{
    width: 100%;
    height: auto;
}
 .global-container{
    background-color: black;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    line-height: 18px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
}
.para-center{
    color: white;
    margin-left:40%;
    font-size: 12px;
    padding-top: 0.5%;
    width: 70%;
}
.para-left{
    width: 92%;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin: 0 auto;
    font-size: 12px;
    padding-top: 0.5%;
    padding-left: 20%;
}
.nav-container{
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    padding-bottom: 0.5%;
}
.icon{
    margin-left: 1%;
}
#name{
    margin-top: 1%;
    width: 12vw;
    height: 30px;
    border: 1px solid #dfdfdf;
    font-size: 13px;
    color: #000;
    display: block;
}
.button{
    min-height: auto;
    height: 30px;
    width: 33px;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    margin-top: 1%;
    background-color: white;
    border-left: none;
}
.img-btn{
    margin-top: 20%;
    width: 80%;
    height: 60%;
}
.shopping-icon{
    width: 25px;
    height: 25px;
    margin-top: 1%;
    margin-left: 2.5%;
}
.drap{
    width: 18px;
    height: 13px;
    margin-right: 7px;
    margin-top: 1%;
    position: relative;
    align-self: flex-start;
}
.autre{
    margin-left: 10%;
    margin-top: 35%;
}
.aucune{
    display: none;
    background-color: red;
    position: absolute;
    width: 80px;
    height: 100%;
    margin-left: 81%;
    margin-top: 1.5%;
}
.block{
    background-color: white;
    display: block;
}
.pays{
    align-self: flex-end;
}
.pays:hover{
    color: #e70033;
}
#show-pays{
    background-color: white;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.next-to-drap{
    width: 20px;
    height: 17px;
}
ul{
    list-style:none;
}
.list-relou{
    width: 50%;
    list-style: none;
    background:white;
    padding:0;
    margin:0;
    text-align: center;
}
#bonnesaffaires{
    width: 100%;
}
.text-icon{
    width: 40%;
    text-align: center;
    justify-content: center;
    margin-left: 22%;
    margin-right: 10%;
    margin-top: 1.4%;
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #e70033;
}
#nouveaute{
    color: #e70033;
}
#nouveaute:hover{
    color: #e70033;
    border-bottom:4px solid #e70033 ;
    padding-bottom: 16px;
}
#chaussures:hover{
    color: #e70033;
    border-bottom:4px solid #e70033 ;
    padding-bottom: 16px;
}
#homme:hover{
    color: #e70033;
    border-bottom:4px solid #e70033 ;
    padding-bottom: 16px;
}
#femme:hover{
    color: #e70033;
    border-bottom:4px solid #e70033 ;
    padding-bottom: 16px;
}
#enfant:hover{
    color: #e70033;
    border-bottom:4px solid #e70033 ;
    padding-bottom: 16px;
}
#bonnesaffaires:hover{
    color: #e70033;
    border-bottom:4px solid #e70033 ;
    padding-bottom: 16px;
}
.ul-row{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}
.list-nouveaute{
    width: 35%;
    margin-top: 10%;
    max-height:0;
    border:none;
    margin:0;
}
.blue{
    display: none;
    text-align: center;
    width: 100%;
    height: 90px;
    margin-left: 0;
    padding-top: 1.5%;
}
.red{
    display: block;
    background-color: white;
}
.englobe{
    width: 100%;
    height: 100%;
    background-color: white;
}
.menu-deroulant{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 15px;
    justify-content: space-around;
    /* justify-content: flex-start; */
}
.colonne{
    width: 100%;
    height: auto;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 90;
    margin-bottom: 0;
    padding-bottom: 0;
}
#colonne-gauche{
    width: 100%;
    height: auto;
    border-right: 1px solid #ccc;
}
.bas{
    padding-top:0;
    margin-top: 0;
    width: 100%;
    height: 100px;
    height: auto;
    background-color: grey;
    z-index: 90;
    position: relative;
}
.contenu-bas{
    width: 100%;
    height: 20px;
    background-color: #ccc;
    padding-top: 0;
    margin-top: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#decouvre-red{
    position: absolute;
    text-align: center;
}
.text-rouge{
    color: #e70033;
}
.list-nouveaute:hover{
    color: #e70033;
}
.survol-rouge:hover{
    color: #e70033;
}
 .nav-mobile{
    display: none;
}
.mobile-contenu{
    display: none;
}

/* Media queries */

@media screen and (max-width: 767px) {
    .nav-container{
        display: none;
    }
    .para-left{
        display: none;
    }
    .aucune{
        display: none;
    }
    .nav-mobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom:1px solid #dfdfdf;
    }
    .img-btn{
        width: 1.5em;
        height: 1.5em;
        margin: 0;
    }
    .menu-recherche{
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }
    .fas{
        font-size: 1.5em;
        margin: 0 10px;
    }
    .user-panier{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    .bar1, .bar2, .bar3{
        width: 30px;
        height: 3px;
        margin: 6px;
        background-color: black;
        transition: 0.4s;
       }
       
       .change .bar1{
        transform: rotate(-45deg)  translate(-8px, 8px);
        margin: 0;
       }
       
       .change .bar2{
        opacity: 0;
       }
       
       .change .bar3{
        transform: rotate(45deg) translate(-8px, -8px);
        margin: 0;
       }
       #mobile-menu{
           width: 600px;
           height: 1000px;
           display: block;
       }
       .mobile-contenu{
           display: none;
           width: 100%;
           height: 32px;
           background-color: #ebebeb;
           border-top: 1px solid black;
           border-right:  1px solid black;
           padding-top: 2%;
           padding-left: 2%;
       }
       .grey-container{
        background-color: #ccc;
        color: white;
       }
       .fa-chevron-right{
           font-size: 1em;
       }
    .para-center{
        color: white;
        margin: left 0;
        font-size: 12px;
        padding-top: 0.5%;
        width: 70%;
    }

}

